<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
    <script src="../js/axios.js"></script>
    <script src="../js/vue.js" charset="utf-8"></script>
    <script src="../js/lib-master/index.js" charset="utf-8"></script>
    <script src="../js/jquery.js" charset="utf-8"></script>
    <script src="../js/dist/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../js/lib-master/theme-chalk/index.css"/>
    <link rel="stylesheet" href="../js/dist/css/bootstrap.css"/>
</head>
<body>
main
</body>
</html>