.iconfont.icon-time {
    color: #2776df;
    margin: 0px 6px 0px 20px;
}
.analysis {
    margin-top: 20px;
}
.analysis .right {
    color: #2776df;
    font-size: 18px;
    border: 1px solid #2776df;
    padding: 0px 6px;
    border-radius: 4px;
    margin-left: 20px;
}
.analysis ul li:nth-child(2) {
    margin: 20px 0px;
}
.analysis ul li:nth-child(3) {
    padding: 10px;
    background-color: #d3c6c9;
    border-radius: 4px;
}

.analysis span:nth-child(1) {
    font-size: 18px;
}
.mark {
    position: absolute;
    width: 4px;
    height: 4px;
    content: "";
    background-color: red;
    border-radius: 50%;
    top: 0px;
    left: 22px;
}
.border {
    position: relative;
    border: 1px solid #FF90AA !important;
}
.bg {
    background-color: #5188b8 !important;
}
.fill .el-input {
    display: inline-flex;
    width: 150px;
    margin-left: 20px;
}
.fill .el-input .el-input__inner {
    border: 1px solid transparent;
    border-bottom: 1px solid #eee;
    padding-left: 20px;
}
/* slider过渡效果 */
.slider-fade-enter-active {
    transition: all .3s ease;
}
.slider-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slider-fade-enter, .slider-fade-leave-to {
    transform: translateX(-100px);
    opacity: 0;
}

.operation .end li:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 118, 223);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
}
.operation .end li {
    cursor: pointer;
    margin: 0 100px;
}
.operation {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 0px;
    margin-right: 10px;
}
.operation .end {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(39, 118, 223);
}
.content .number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgb(39, 118, 223);
    border-radius: 4px;
    margin-right: 4px;
}
.content {
    padding: 0px 20px;
}
.content .topic {
    padding: 20px 0px;
    padding-top: 30px;
}
.right .content {
    background-color: #fff;
    margin: 10px;
    margin-left: 0px;
    height: 470px;
}
.content .el-radio-group label {
    color: #000;
    margin: 5px 0px;
}
.content .el-radio-group {
    display: flex;
    flex-direction:column;
}
.right .title p {
    margin-left: 20px;
}
.flexarea {
    display: flex;
}
.flexarea .right {
    flex: 1;
}
.auto-right {
    margin-left: auto;
    color: #2776df;
    margin-right: 10px;
}
.right .title {
    margin-right: 10px;
    padding-right: 30px;
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
}
.clearfix {
    clear: both;
}
.l-bottom .final {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: rgb(39, 118, 223);
    width: 240px;
    margin: 20px 0px 20px 10px;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    margin-top: 22px;
}
#answer .left .item {
    padding: 0px;
    font-size: 16px;
}
.l-bottom {
    border-radius: 4px;
    background-color: #fff;
}
.l-bottom .item p {
    margin-bottom: 15px;
    margin-top: 10px;
    color: #000;
    margin-left: 10px;
    letter-spacing: 2px;
}
.l-bottom .item li {
    width: 15%;
    margin-left: 5px;
    margin-bottom: 10px;
}
.l-bottom .item {
    display: flex;
    flex-direction: column;
}
.l-bottom .item ul {
    width: 80%;
    margin-bottom: -8px;
    display: flex;
    flex-wrap: wrap;
}
.l-bottom .item ul li a {
    position: relative;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
    color: #000;
    font-size: 16px;
}
.left .l-top {
    display: flex;
    justify-content: space-around;
    padding: 16px 0px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff;
}
.left {
    width: 260px;
    height: 100%;
    margin: 10px 10px 0px 10px;
}
.left .l-top li:nth-child(2) a {
    border: 1px solid #eee;
}
.left .l-top li:nth-child(3) a {
    background-color: #5188b8;
    border: none;
}
.left .l-top li:nth-child(4) a {
    position: relative;
    border: 1px solid #eee;
}
.left .l-top li:nth-child(4) a::before {
    width: 4px;
    height: 4px;
    content: " ";
    position: absolute;
    background-color: red;
    border-radius: 50%;
    top: 0px;
    left: 16px;
}
.left .l-top li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left .l-top li a {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #FF90AA;
}
#answer .top {
    background-color: rgb(39, 118, 223);
}
#answer .item {
    color: #fff;
    display: flex;
    padding: 20px;
    font-size: 20px;
}
#answer .top .item li:nth-child(1) {
    margin-right: 10px;
}
#answer .top .item li:nth-child(3) {
    position: relative;
    margin-left: auto;
}
#answer {
    padding-bottom: 30px;
}
.icon20 {
    font-size: 20px;
    font-weight: bold;
}
.item .msg {
    padding: 10px 15px;
    border-radius: 4px;
    top: 47px;
    right: -30px;
    color: #6c757d;
    position: absolute;
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
}
.item .msg p {
    font-size: 16px;
    width: 200px;
    text-align: left;
}